@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@model IEnumerable<Platform_Services_Portal.Models.LeftMenuModel>
<div class="row">
    <div class="card card-profile">
        <div class="card-avatar">
            @if (@HttpContextAccessor.HttpContext.Session.GetString("Customer") != null)
            {
                string s = @HttpContextAccessor.HttpContext.Session.GetString("Customer");//(String)TempData["customer"];
                s = "/images/" + s.ToLower() + ".png";
                <img class="img" src=@s />
            }
        </div>
    </div>
</div>
<ul class="nav">
    
    @foreach (var menu in Model)
    {
        <li class="nav-item ">
            <a class="nav-link" data-toggle="collapse" href="#@menu.ServiceName">
                <i class="material-icons"> @menu.Icon</i>
                <p>
                    @menu.ServiceName
                    <b class="caret"></b>
                </p>
            </a>
            @if (menu.ServiceName != null)
            {
                <div class="collapse" id="@menu.ServiceName">

                    @foreach (var subMenu in menu.ServiceMenu)
                    {
                        string s = @HttpContextAccessor.HttpContext.Session.GetString("Customer");
                        if (s != null)
                        {
                            if (subMenu.Customers.Contains(s))
                            {

                                <ul class="nav">
                                    <li class="nav-item">
                                        <a class="nav-link" href="@subMenu.Alias">
                                            <i class="material-icons">@subMenu.Icon</i>
                                            <span class="sidebar-normal"> @subMenu.MenuName </span>
                                        </a>
                                    </li>
                                </ul>

                            }
                        }
                    }
                </div>
            }
        </li>
    }
</ul>
