@model Platform_Services_Portal.Models.Server

@{
    ViewData["Title"] = "Details";
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">assignment</i>
                        </div>
                        <h4 class="card-title">Server @Html.DisplayFor(model => model.ServerName) details</h4>
                    </div>
                    <div class="card-body">
                        <dl class="row">
                            <dt class="col-6">
                                @Html.DisplayNameFor(model => model.ServerName)
                            </dt>
                            <dd class="col-6">
                                @Html.DisplayFor(model => model.ServerName)
                            </dd>
                            <dt class="col-6">
                                @Html.DisplayNameFor(model => model.Type)
                            </dt>
                            <dd class="col-6">
                                @Html.DisplayFor(model => model.Type)
                            </dd>
                            <dt class="col-6">
                                @Html.DisplayNameFor(model => model.Summary)
                            </dt>
                            <dd class="col-6">
                                @Html.DisplayFor(model => model.Summary)
                            </dd>
                            <dt class="col-6">
                                @Html.DisplayNameFor(model => model.Customer)
                            </dt>
                            <dd class="col-6">
                                @Html.DisplayFor(model => model.Customer)
                            </dd>
                            <dt class="col-6">
                                @Html.DisplayNameFor(model => model.Memory)
                            </dt>
                            <dd class="col-6">
                                @Html.DisplayFor(model => model.Memory)
                            </dd>
                            <dt class="col-6">
                                @Html.DisplayNameFor(model => model.CPU)
                            </dt>
                            <dd class="col-6">
                                @Html.DisplayFor(model => model.CPU)
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">assignment</i>
                        </div>
                        <h4 class="card-title">Disk details</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="text-center">#</th>
                                        <th>Disk Label</th>
                                        <th>Disk Size</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        for (int index = 0; index < Model.Disks.Count; index++)
                                        {
                                            <tr>
                                                <td class="text-center">@index</td>
                                                <td>@Html.DisplayFor(model => @Model.Disks[index].DiskLabel)</td>
                                                <td>@Html.DisplayFor(model => @Model.Disks[index].DiskSize)</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                    </div>
                    <div class="card-footer text-center">
                        <div class="form-check mr-auto">
                        </div>
                        <button class="btn">
                            <span class="btn-label">
                                <i class="material-icons">keyboard_arrow_left</i>
                            </span>
                            @Html.ActionLink("Back to list", "Index", "Server", null, new { style = "color: white" })
                        </button>
                        <button class="btn btn-info">
                            <span class="btn-label">
                                <i class="material-icons">get_app</i>
                            </span>
                            @Html.ActionLink("Export", "", "Server", null, new { style = "color: white" })
                        </button>
                        <button class="btn btn-warning">
                            <span class="btn-label">
                                <i class="material-icons">warning</i>
                            </span>
                            @Html.ActionLink("Change config", "Edit", "Server", null, new { style = "color: white" })
                        </button>
                    </div>
                       
                    </div>
                </div>
                <h6>
                    @{if (ViewBag.Differences != null)
                        {

                            foreach (var dif in ViewBag.Differences)
                            {
                                @dif.MemberPath <br />
                                @dif.Value1 <br />
                                @dif.Value2; <br />
                            }
                            if (ViewBag.Differences.Count > 0)
                            {
                                <button class="btn btn-warning">
                                    <span class="btn-label">
                                        <i class="material-icons">warning</i>
                                    </span>
                                    @Html.ActionLink("Commit changes", "Index", "Server", null, new { style = "color: white" })
                                </button>
                            }
                        }
                    }
                </h6>
            </div>
        </div>
    </div>
</div>

