@model Platform_Services_Portal.Models.Server

@{
    ViewData["Title"] = "Details";
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">assignment</i>
                        </div>
                        <h4 class="card-title">Server @Html.DisplayFor(model => model.ServerName) current state</h4>
                    </div>
                    <div class="card-body">
                        <dl class="row">
                            <dt class="col-6">
                                @Html.DisplayNameFor(model => model.ServerName)
                            </dt>
                            <dd class="col-6">
                                @Html.DisplayFor(model => model.ServerName)
                            </dd>
                            <dt class="col-6">
                                @Html.DisplayNameFor(model => model.Type)
                            </dt>
                            <dd class="col-6">
                                @Html.DisplayFor(model => model.Type)
                            </dd>
                            <dt class="col-6">
                                @Html.DisplayNameFor(model => model.OperatingSystem)
                            </dt>
                            <dd class="col-6">
                                @Html.DisplayFor(model => model.OperatingSystem)
                            </dd>
                            <dt class="col-6">
                                @Html.DisplayNameFor(model => model.Environment)
                            </dt>
                            <dd class="col-6">
                                @Html.DisplayFor(model => model.Environment)
                            </dd>
                            <dt class="col-6">
                                @Html.DisplayNameFor(model => model.Memory)
                            </dt>
                            <dd class="col-6">
                                @Html.DisplayFor(model => model.Memory)
                            </dd>
                            <dt class="col-6">
                                @Html.DisplayNameFor(model => model.CPU)
                            </dt>
                            <dd class="col-6">
                                @Html.DisplayFor(model => model.CPU)
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">assignment</i>
                        </div>
                        <h4 class="card-title">Disk details</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="text-center">#</th>
                                        <th>Disk Label</th>
                                        <th>Disk Size</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        for (int index = 0; index < Model.Disks.Count; index++)
                                        {
                                            <tr>
                                                <td class="text-center">@index</td>
                                                <td>@Html.DisplayFor(model => @Model.Disks[index].DiskLabel)</td>
                                                <td>@Html.DisplayFor(model => @Model.Disks[index].DiskSize)</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="card">

                    <div class="card-footer text-center">
                        <div class="form-check mr-auto">
                        </div>
                        <button class="btn btn-sm">
                            <span class="btn-label">
                                <i class="material-icons">keyboard_arrow_left</i>
                            </span>
                            @Html.ActionLink("Back to list", "Index", "Server", null, new { style = "color: white" })
                        </button>
                        <button class="btn btn-info btn-sm">
                            <span class="btn-label">
                                <i class="material-icons">get_app</i>
                            </span>
                            @Html.ActionLink("Export", "Export", "Server", null, new { style = "color: white", target = "_blank" })
                        </button>
                        <button class="btn btn-warning btn-sm">
                            <span class="btn-label">
                                <i class="material-icons">warning</i>
                            </span>
                            @Html.ActionLink("Change config", "Edit", "Server", null, new { style = "color: white" })
                        </button>
                    </div>

                </div>
            </div>
            <div class="card">
                @{if (ViewBag.Differences != null)
                    {
                        <div class="card-header card-header-warning card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">warning</i>
                            </div>
                            <h4 class="card-title">New desired state</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Element</th>
                                            <th>Current value</th>
                                            <th>New value</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var dif in ViewBag.Differences)
                                        {
                                            <tr>

                                                <td class="text-left">@dif.MemberPath</td>
                                                <td class="text-right">@dif.Value1</td>
                                                <td class="text-danger text-right">@dif.Value2</td>

                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot>

                                    </tfoot>
                                </table>
                                @if (ViewBag.Differences.Count > 0)
                                {
                            <div class="card-footer text-right">
                                <div class="form-check mr-auto">
                                    <button class="btn btn-success btn-sm">
                                        <span class="btn-label">
                                            <i class="material-icons">check</i>
                                        </span>
                                        @Html.ActionLink("Discard changes", "Index",  new { userAction = "Discard" }, new { style = "color: white" })
                                    </button>
                                    <button class="btn btn-danger btn-sm">
                                        <span class="btn-label">
                                            <i class="material-icons">close</i>
                                        </span>
                                        @Html.ActionLink("Commit changes", "Index", "/VmW_AddNewServerDSC",  new { userAction = "Commit" }, new { style = "color: white" })
                                    </button>
                                </div>
                            </div>
                                }
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>


