@model Platform_Services_Portal.Models.Server

@{
    ViewData["Title"] = "Edit";
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header card-header-info card-header-icon">
                                    <div class="card-icon">
                                        <i class="material-icons">assignment</i>
                                    </div>
                                    <h4 class="card-title">Chnage configuration of server @Html.DisplayFor(model => model.ServerName)</h4>
                                </div>
                                <div class="card-body">
                                    <div class="form-group">
                                        <label asp-for="ServerName" class="control-label" hidden>Server name</label>
                                        <input asp-for="ServerName" class="form-control" hidden />
                                    </div>
                                    <div class="row">
                                        <label class="col-md-3 col-form-label">Type</label>
                                        <div class="col-md-9">
                                            <div class="form-group">
                                                <input asp-for="Type" class="form-control" readonly />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <label class="col-md-3 col-form-label">Operating system</label>
                                        <div class="col-md-9">
                                            <div class="form-group">
                                                <input asp-for="OperatingSystem" class="form-control" readonly />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label class="col-md-3 col-form-label">Environment</label>
                                        <div class="col-md-9">
                                            <div class="form-group">
                                                <input asp-for="Environment" class="form-control" readonly />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label class="col-md-3 col-form-label">Customer</label>
                                        <div class="col-md-9">
                                            <div class="form-group">
                                                <input asp-for="Customer" class="form-control" readonly />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label class="col-md-3 col-form-label">Memory</label>
                                        <div class="col-md-9">
                                            <div class="form-group">
                                                <input asp-for="Memory" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label class="col-md-3 col-form-label">CPU</label>
                                        <div class="col-md-9">
                                            <div class="form-group">
                                                <input asp-for="CPU" class="form-control" />
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header card-header-info card-header-icon">
                                    <div class="card-icon">
                                        <i class="material-icons">assignment</i>
                                    </div>
                                    <h4 class="card-title">Disk details</h4>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th class="text-center">#</th>
                                                    <th>Disk Label</th>
                                                    <th>Disk Size</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @for (int index = 0; index < Model.Disks.Count; index++)
                                                {

                                                    @if (@Model.Disks[index].DiskLabel == "new disk label")
                                                    {
                                                        <tr>
                                                            <td class="text-center">@index</td>
                                                            <td>
                                                                <div class="form-group">
                                                                    <input asp-for=@Model.Disks[index].DiskLabel class="form-control" />
                                                                    <span asp-validation-for=@Model.Disks[index].DiskLabel class="text-danger"></span>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="form-group">
                                                                    <input asp-for=@Model.Disks[index].DiskSize class="form-control" />
                                                                    <span asp-validation-for=@Model.Disks[index].DiskSize class="text-danger"></span>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <input type="submit" value="Submit changes" class="btn btn-warning" />
                                                                @Html.ActionLink("Discard changes", "Index", new { userAction = "Discard" }, new { style = "color: white" })
                                                            </td>
                                                        </tr>
                                                    }
                                                    else
                                                    {
                                                        <tr>
                                                            <td class="text-center">@index</td>
                                                            <td>
                                                                <div class="form-group">
                                                                    <input asp-for=@Model.Disks[index].DiskLabel class="form-control" readonly />
                                                                    <span asp-validation-for=@Model.Disks[index].DiskLabel class="text-danger"></span>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="form-group">
                                                                    <input asp-for=@Model.Disks[index].DiskSize class="form-control" />
                                                                    <span asp-validation-for=@Model.Disks[index].DiskSize class="text-danger"></span>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>

                                        </table>
                                    </div>
                                </div>
                                <div class="card-footer text-center">
                                    <div class="form-check mr-auto">
                                    </div>
                                    @Html.ActionLink("Add new disk", "Add_Disk", new { id = "Add_disk" }, new { @class = "btn btn-sm btn-success right" })
                                </div>


                            </div>
                            <div class="card">

                                <div class="card-footer text-center">
                                    <div class="form-check mr-auto">
                                        <input type="submit" value="Submit changes" class="btn  btn-sm btn-warning" />
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

